body{
  background-color: #0099ff;
}

.card {
  position: relative;

  background-color: white;

  padding: 2rem;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  width: 25%;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 100%);
}

.day-of-week{
  font-weight: 500;
}

.real-date{
  float: right;
  font-weight: 500;
}

.city-text{
  font-weight: 700;
}


.temperature{
  float:left;
}

.weather-icon{
  float:left;
}

.temperature-text{
  float: left;
  position: relative;

  top: 29px;
  left: 22px;

  font-size: 3rem;
}

.additional-info{
  float: right;
}

.summary{
  clear: both;
  font-weight: 700;
}